
.form-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form {
    max-width: 600px;
    margin: 100px auto;
   padding: 40px;
   
}

label {
   
    margin-bottom: 10px;
    max-width: 100%;
}

input, textarea {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
}

button {
    
    padding: 5px 40px ;
    margin: 0 auto;
    display: block;

}
